<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport"
        content="width=device-width, height=device-height, inital-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>诗词生成样例</title>
</head>

<body>
    <form action="" method="post">
        <input type="text" name="keyword" required placeholder="关键词" />
        <br />
        length：
        <select name="length">
            <option value=5 selected>五</option>
            <option value=7>七</option>
        </select><br />
        living experience：
        <select name="experience">
            <option value=0>military career</option>
            <option value=1 selected>countryside life</option>
            <option value=2>other</option>
            <option value=-1>not specified</option>
        </select><br />
        historical background：
        <select name="history">
            <option value=0 selected>prosperous times</option>
            <option value=1>troubled times</option>
            <option value=-1>not specified</option>
        </select><br />
        <input name="submit" type="submit" value="提交">
    </form>
    </div>
    <p class="info"></p>

    <script>

    </script>
</body>

</html>