[Unit]
Description=TravelLog server deamon
After=network.target

[Service]
User=SERVICE_USER
Type=simple
KillMode=control-group
ExecStart=bash BASE_DIR/scripts/start.sh BASE_DIR
ExecReload=BASE_DIR/scripts/reload.sh BASE_DIR
KillMode=control-group
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
